
.editor {

    height: min(500px, calc(100vh / 1.25 - 340px));
    width: max(500px, 200px);
    background: white;
    border-radius: 8px;
    /*border: 1px solid black;*/
    position: relative;
    margin: 0 auto 0 auto;
    padding: 12px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.editorPlaceholder {

    position: absolute;
    z-index: -1;
    top: 252px;
    left: calc(50vw - 250px);

}