
.myEditor {
    height: min(500px, calc(100vh / 1.25 - 340px));
    width: max(500px, 200px);
    background: white;
    border-radius: 8px;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.editorPlaceholder {

    position: absolute;
    z-index: -1;
    top: 252px;
    left: calc(50vw - 250px);

}

p {
    font-size: 12px;
}

body {
    font-family: "Winky Rough";
    margin: 0;
}


@font-face {
    font-family: 'OVSoge-Black';
    src: url('/src/assets/fonts/OVSoge-Black.otf');
}

@font-face {
    font-family: 'Quicky Nick';
    src: url('/src/assets/fonts/Quicky Nick.otf');
}

@font-face {
    font-family: 'Gantians';
    src: url('/src/assets/fonts/Gantians.otf');
}

@font-face {
    font-family: 'OVSoge-Bold';
    src: url('/src/assets/fonts/OVSoge-Bold.otf');
}

@font-face {
    font-family: 'OVSoge-Regular';
    src: url('/src/assets/fonts/OVSoge-Regular.otf');
}

@font-face {
    font-family: 'Quicky Nick 3D';
    src: url('/src/assets/fonts/Quicky Nick 3D.otf');
}

@font-face {
    font-family: 'Quicky Nick Condensed Straight';
    src: url('/src/assets/fonts/Quicky Nick Condensed Straight.otf');
}

@font-face {
    font-family: 'QuickyNickExpanded';
    src: url('/src/assets/fonts/QuickyNickExpanded.otf');
}

@font-face {
    font-family: 'QuickyNickGradient';
    src: url('/src/assets/fonts/QuickyNickGradient.otf');
}

@font-face {
    font-family: 'druk-wide-bold';
    src: url('/src/assets/fonts/DrukWideBold.ttf');
}

@font-face {
    font-family: 'vanteque';
    src: url('/src/assets/fonts/VANTEQU.otf');
}
