
.toolbar {

    display: flex;
    flex-direction: column;
    padding: 24px 20px;
    box-sizing: border-box;
    gap: 12px;
    background: black;
    border-radius: 12px;
    /*height: 120px;*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 520px;
    margin: 60px auto;

    .tbRow {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: min-content;
    }

    .tbSection {

        height: min-content;
        display: flex;
        align-items: center;
        gap: 6px;

    }

    .separator {

        width: 3px;
        border-radius: 1px;
        height: 20px;
        background: rgba(190, 164, 164, 0.47);

    }

    .buttonTB {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        min-width: 24px;
        border-radius: 4px;
        /*background: #f3d8d8;*/
        cursor: pointer;
        border: none;

        font-size: 13px;
        font-weight: 600;


    }

    .btnActive {
        background: #cebbbb;
        border: 2px solid white;
    }

    .buttonTB:hover {
        background: #f8f3f3;
        border: 1px solid #3a3939;
    }

    .buttonTB:active {
        background: #ffffff;
        border: 1px solid #3a3939;
    }

    .tbSelect {
        appearance: none;
        padding: 0 4px;
        font-size: 12px;
        font-weight: 600;
        background: #F0F0F0;
        height: 24px;
        width: 200px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }

    .selected {
        background: #f8f3f3;
        border: 1px solid #3a3939;
    }

    .tbSelect:hover {
        background: #f8f3f3;
        border: 1px solid #3a3939;
    }

    .tbSelect:active {
        background: #ffffff;
        border: 1px solid #3a3939;
    }
}

.tbDropdown {
    position: relative;

    .tbDropdownList {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 12;
        width: 100%;

        border: 1px solid white;
        transition: border-left-color, border-right-color 1s;

        .tbDItem {

            display: flex;
            align-items: center;
            height: 20px;
            background: white;
            border-bottom: 1px solid black;
            padding: 4px 12px;
            font-size: 12px;

            cursor: pointer;

        }

        .tbDItem:hover {
            font-weight: 500;
        }
    }

    .tbDropdownList:hover {
        border: 1px solid black;
    }
}