p {
   margin: 0;
}

.bold {

   font-weight: 600;

}

:root {

    /* Text Colors */
    --primary-text-color: black;
    --secondary-text-color: white;
    --p2-text-color: #938d8d;

    /*  background colors */
    --primary-background-color: white;
    --secondary-background-color: #641616;

}


button {
    font-family: "Winky Rough";
}

.italics {

   font-style: italic;

}



.underline {
   text-decoration: underline;
}

.line-through {
   text-decoration: line-through;
}

.line-through-strike {
   text-decoration: underline line-through;
}

/*  Fonts */



.bottomMainContainer {
    display: flex;
    flex: 1;

    .mainContainer {

        display: flex;
        flex: 1 1;
        flex-direction: column;
        position: relative;

    }
}

.appContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}